---
layout: contentpage
nav_include: true
title: Outreach
subtitle: Science in the community.
---
<section class="color-bar-white padded">
	<div class="row">
		<div class="large-12 columns">
			<h2>On this page</h2>
			<ul>
				<li>
					<a href="#news">News</a>
				</li>
				<li>
					<a href="#outreach">Outreach and Undergrad Research</a>
				</li>
				<li>
					<a href="#current-undergrads">Current Undergraduate Students</a>
				</li>
				<li>
					<a href="#former-undergrads">Former Undergraduate Students</a>
				</li>
				<li>
					<a href="#reu">Research Experience for Undergraduates (REU)</a>
				</li>
				<li>
					<a href="#ret">Research Experience for Teachers (RET)</a>
				</li>
				<li>
					<a href="#pssa">Penn Summer Science Academy (PSSA)</a>
				</li>
			</ul>
		</div>
	</div>
</section>

<div id="news">
	{% for post in site.categories.news %}
		{% if post.outreach == true %}
			{% include news-item.html post=post %}
		{% endif %}
	{% endfor %}
</div>

<section id="outreach" class="color-bar-white padded">
	<div class="row">
		<div class="large-12 columns">
			<h2>Outreach and Undergraduate Research</h2>
			<p>
				We have several Penn undergraduates working in the lab all year long. For more information, feel free to contact our group by email and check the listings in the Student Employment Office (SEO).

				In addition, our lab is actively involved in <a href="http://www.lrsm.upenn.edu/outreach/#ret"><b>RET</b></a> (Research Experience for Teachers), <a href="http://www.lrsm.upenn.edu/outreach/reu.html"><b>NSF-REU</b></a> and <a href="http://www.nanotech.upenn.edu/reu.html"><b>NBIC-REU</b></a> (Research Experience for Undergraduates), and <a href="http://www.physics.upenn.edu/~pssa"><b>PSSA</b></a> (Penn Summer Science Academy for high school students) programs at Penn.
			</p>
			<figure>
				<img src="{{site.baseurl}}/{{site.img_path}}/outreach1.gif" title="Summer2005">
				<figcaption>From left to right: Graduate student Siying Wang (standing) with Tara (undergraduate student at Swarthmore), Eileen (high-school student), Katie (high-school student). Eileen has now joined Penn as undergraduate student.</figcaption>
			</figure>
		</div>
	</div>
</section>

<section id="current-undergrads" class="color-bar-white padded">
	<div class="row">
		<div class="large-12 columns">
			<h2>Current Undergraduate Students</h2>
		</div>
	</div>
	<div class="row">
		<div class="large-12 columns">
			<ul class="small-block-grid-1 medium-block-grid-3">
				{% for member_hash in site.data.members %}
				{% assign member = member_hash[1] %}
					{% if member.undergrad == true and member.past != true %}
					<li class="centered-text">
						{% include member.html member=member %}
					</li>
					{% endif %}
				{% endfor %}
			</ul>
		</div>
	</div>
</section>

<section id="former-undergrads" class="color-bar-white padded">
	<div class="row">
		<div class="large-12 columns">
			<h2>Former Undergraduate Students</h2>
		</div>
	</div>
	<div class="row">
		<div class="large-12 columns">
			<ul class="small-block-grid-1 medium-block-grid-3">
				{% for member_hash in site.data.members %}
				{% assign member = member_hash[1] %}
					{% if member.undergrad == true and member.past == true %}
					<li class="centered-text">
						{% include member.html member=member %}
					</li>
					{% endif %}
				{% endfor %}
			</ul>
		</div>
	</div>
</section>

<section id="reu" class="color-bar-white padded">
	<div class="row">
		<div class="large-12 columns">
			<h2>Research Experience for Undergraduates (REU)</h2>
		</div>
	</div>
	<div class="row">
		<div class="large-12 columns">
			<h5>Summer 2008</h5>
			<ul>
				<li>
					Nancy Eisenmenger, Harvey Mudd College, e-mail: neisenmenger(at)gmail.com
				</li>
			</ul>
			<h5>Summer 2007</h5>
			<ul>
				<li>
					Kelly McCarthy, Penn State University, e-mail: kxm5002(at)psu.edu
				</li>
				<li>
					Joey Goodell, University of Pennsylvania, e-mail: jgoodell(at)sas.upenn.edu
				</li>
			</ul>
			<ul class="small-block-grid-2">
				<li>
					<img src="{{site.baseurl}}/{{site.img_path}}/members/KMC.jpg" title="Kelly McCarthy">
				</li>
				<li>
					<img src="{{site.baseurl}}/{{site.img_path}}/members/JG.jpg" title="Joey Goodell">
				</li>
			</ul>
			<h5>Summer 2006</h5>
			<ul>
				<li>
					Chloe Poston, Clark Atlanta University, e-mail: chloe.poston(at)cau.edu
				</li>
			</ul>
			<h5>Summer 2005</h5>
			<ul>
				<li>
					Adam Cohen, Bucknell University, e-mail: abcohen(at)bucknell.edu
				</li>
				<li>
					Dan Wulin, Columbia University, e-mail: dsw2104(at)columbia.edu
				</li>
			</ul>
		</div>
	</div>
</section>

<section id="ret" class="color-bar-white padded">
	<div class="row">
		<div class="large-12 columns">
			<h2>Research Experience for Teachers (RET)</h2>
			<h5>Summer 2004</h5>
			<ul>
				<li>
					Peter Vreeland, Upper Merion High School, e-mail: pdvreeland(at)yahoo.com
				</li>
			</ul>
		</div>
	</div>
</section>

<section id="pssa" class="color-bar-white padded">
	<div class="row">
		<div class="large-12 columns">
			<h2>Penn Summer Science Academy (PSSA)</h2>
			<p>As a part of the PSSA program, about six high school students spend time in our lab working with other group members.</p>
			<ul class="small-block-grid-3 medium-block-grid-5 large-block-grid-6">
				<li>
					<img src="{{site.baseurl}}/{{site.img_path}}/outr1.jpg">
				</li>
				<li>
					<img src="{{site.baseurl}}/{{site.img_path}}/outr2.jpg">
				</li>
				<li>
					<img src="{{site.baseurl}}/{{site.img_path}}/outr3.jpg">
				</li>
				<li>
					<img src="{{site.baseurl}}/{{site.img_path}}/outr4.jpg">
				</li>
				<li>
					<img src="{{site.baseurl}}/{{site.img_path}}/outr5.jpg">
				</li>
				<li>
					<img src="{{site.baseurl}}/{{site.img_path}}/outr6.jpg">
				</li>
			</ul>
		</div>
	</div>
</section>

