<script>
  var secret = "7076658776698383";
  var input = "";
  var timer;
  //The following function sets a timer that checks for user input. You can change the variation in how long the user has to input by changing the number in ‘setTimeout.’ In this case, it’s set for 500 milliseconds or ½ second.
  $(document).keyup(function(e) {
     input += e.which;
     clearTimeout(timer);
     timer = setTimeout(function() { input = ""; }, 500);
     check_input();
  });
  function check_input() {
      if(input == secret) {
        // add the font
        $("head").prepend("<style type=\"text/css\">" +
                                "@font-face {\n" +
                                    "\tfont-family: \"Steelfish\";\n" +
                                    "\tsrc: url('{{site.baseurl}}/assets/fonts/steelfish/steelfish-rg.ttf') format('truetype');\n" +
                                "}" +
                            "</style>");

        // scroll to top
        $('html, body').animate({
          scrollTop: 0
        }, 'slow');
        $('#homepage-top .bcg').css('background', 'black');
        $('#hero-title').css('font-family', 'Steelfish');
        $('#hero-title').css('font-weight', 'normal')
        $('#hero-title').css('color', '#E6BAD5');
        $('#hero-title').text('DRNDIĆ');

        $('#hero-subtitle').remove();

        $('#homepage-top').append('<iframe width="0" height="0" src="//www.youtube.com/embed/p1JPKLa-Ofc?rel=0&autoplay=1&start=56" frameborder="0" allowfullscreen></iframe>');
        console.log("flawless");
      }
  };
</script>
