<div class="footer-bottom">
    <div class="row">
        <div class="medium-4 medium-4 push-8 columns">
            <p class="copyright">Site designed by <a href="https://github.com/parkin" target="_blank">parkin <i
                    class="icon ion-social-github"></i></a>.</p>

        </div>
        <div class="medium-8 medium-8 pull-4 columns">
            <a href="{{site.baseurl}}/" class="drndic-link">{{site.title}}</a>
            <ul class="footer-bottom-links">
                {% include list-nav-include.html %}
            </ul>
            <p class="copyright">© {{site.time | date: '%Y' }} {{site.pi}}. All rights reserved.</p>
        </div>
    </div>
</div>