<section id="footer-top" class="bg-1-darken">
    <div class="row property centered-text">
        <div class="medium-4 columns">
            <div class="property-info">
                <h3>{{site.title}}</h3>

                <p>
                    The {{site.title}} is an experimental condensed-matter physics group at the
                    {% include linkify.html data=site.data.links.upenn.upenn blank='true' %}.
                </p>
                <p>{% include linkify.html data=site.data.links.lab.wiki blank='true' %}</p>
            </div>
        </div>
        <div class="medium-8 columns">
            <div class="row centered-text">
                <div class="medium-4 columns">
                    <div class="penn-links">
                        <i class="fa fa-university"></i>
                        <h4>Penn</h4>
                        <ul>
                            {% include footer-top-links-list.html data=site.data.links.upenn blank="true" %}
                        </ul>
                    </div>
                </div>
                <div class="medium-4 columns">
                    <div class="nanotech-links">
                        <i class="fa fa-gears"></i>
                        <h4>Nanotech</h4>
                        <ul>
                            {% include footer-top-links-list.html data=site.data.links.nanotech blank="true" %}
                        </ul>
                    </div>
                </div>
                <div class="medium-4 columns">
                    <div class="funding-links">
                        <i class="fa fa-btc"></i>
                        <h4>Funding</h4>
                        <ul>
                            {% include footer-top-links-list.html data=site.data.links.funding blank="true" %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
