<aside class="left-off-canvas-menu">
    <ul class="off-canvas-list">
        <li>
            <a href="{{site.baseurl}}/index.html">Drndi&#263 Lab</a>
        </li>
        <li>
            <a href="{{site.baseurl}}/news.html">News</a>
        </li>
        <li>
            <a href="{{site.baseurl}}/research.html">Research</a>
        </li>
        <li>
            <a href="{{site.baseurl}}/members.html">Members</a>
        </li>
        <li>
            <a href="{{site.baseurl}}/outreach.html">Outreach</a>
        </li>
        <li>
            <a href="{{site.baseurl}}/invited_talks.html">Invited Talks</a>
        </li>
        <li>
            <a href="{{site.baseurl}}/publications.html">Publications</a>
        </li>
        <li>
            <a href="{{site.baseurl}}/contact.html">Contact</a>
        </li>
        <li>
            <a href="{{site.baseurl}}/links.html">Links</a>
        </li>
    </ul>
</aside>
<nav class="tab-bar show-for-small">
    <a class="left-off-canvas-toggle menu-icon">
        <span>{{ site.title }}</span>
    </a>
</nav>
<nav class="top-bar hide-for-small" data-topbar>
    <ul class="title-area">
        <li class="name">
            <h1>
                <a href="{{site.baseurl}}/index.html">{{ site.title }}</a>
            </h1>
        </li>
    </ul>
    <section class="top-bar-section">
        <ul class="right">
            <li>
                <a href="{{site.baseurl}}/news.html">News</a>
            </li>
            <li>
                <a href="{{site.baseurl}}/research.html">Research</a>
            </li>
            <li>
                <a href="{{site.baseurl}}/members.html">Members</a>
            </li>
            <li>
                <a href="{{site.baseurl}}/outreach.html">Outreach</a>
            </li>
            <li>
                <a href="{{site.baseurl}}/invited_talks.html">Invited Talks</a>
            </li>
            <li>
                <a href="{{site.baseurl}}/publications.html">Publications</a>
            </li>
            <li>
                <a href="{{site.baseurl}}/contact.html">Contact</a>
            </li>
            <li>
                <a href="{{site.baseurl}}/links.html">Links</a>
            </li>
        </ul>
    </section>

</nav>