<div class="list-nav">
    <nav class="tab-bar show-for-small">
        <a class="st-toggle menu-icon" data-effect="st-slide-on-top">
            <span></span>
        </a>
    </nav>
    <nav class="top-bar hide-for-small will-fadeInDown" data-topbar>
        {% if page.hide_home_button  != true %}
        <ul class="title-area">
            <li class="name">
                <h1>
                    <a href="{{site.baseurl}}/">{{ site.title }}</a>
                </h1>
            </li>
        </ul>
        {% endif %}
        <section class="top-bar-section">
            <ul class="right">
                {% include list-nav-include.html %}
            </ul>
        </section>

    </nav>
</div>
