{% for member in include.data %}

{% assign modulus = forloop.index0|modulo:3 %}

{% if modulus == 0 or forloop.first %}
<div class="row centered-text">
    {% endif %}

    <div class="large-4 columns">
        {% if member.link %}
        <a href="{{member.link}}" target="_blank">
            {% endif %}
            <div class="member-info float border-fade">
                {% if member.icon %}
                <img src="{{member.icon}}" class="circle-img">
                {% else %}
                <i class="icon ion-person circle"></i>
                {% endif %}
                <h3>{{member.name}}</h3>
                <h5 class="subheader">{{member.desc}}</h5>
                {% if member.email %}
                <a href="mailto:{{member.email}}">
                    <i class="icon ion-email small-circle"></i>
                </a>
                {% endif %}

            </div>

            {% if member.link %}
        </a>
        {% endif %}

    </div>

    {% if modulus == 2 or forloop.last %}
</div>
{% endif %}

{% endfor %}