{% comment %}
parameters:
  - data: The members hash. Usually site.data.members
  - current: true to include current members
  - past: true to include past members
{% endcomment %}

{% assign show_current = false %}
{% assign show_past = false %}

{% if include.current %}
  {% assign show_current = true %}
{% endif %}

<ul class="small-block-grid-1 medium-block-grid-3">
{% for member_hash in include.data %}

  {% assign member = member_hash[1] %}

  {% assign show_current = false %}
  {% assign show_past = false %}

  {% if include.current and member.past != true %}
    {% assign show_current = true %}
  {% endif %}
  {% if include.past and member.past == true %}
    {% assign show_current = true %}
  {% endif %}

  {% if show_current or show_past %}
    <li class="centered-text">
      {% include member.html member=member %}
    </li>
  {% endif %}

{% endfor %}
</ul>
