<div class="member-info float border-fade">
    {% if include.member.icon %}
    <img src="{{site.baseurl}}/{{include.member.icon}}" class="circle-img">
    {% else %}
    <i class="icon ion-person circle"></i>
    {% endif %}
    <h3>{{include.member.name}}</h3>
    <h5 class="subheader">{{include.member.desc}}</h5>

    {% if include.member.link %}
    <a href="{{include.member.link}}" target="_blank">
        <i class="icon ion-home small-circle button"></i>
    </a>
    {% endif %}

    {% if include.member.email %}
    <a href="mailto:{{include.member.email}}">
        <i class="icon ion-email small-circle button"></i>
    </a>
    {% endif %}

    {% if include.member.github %}
    <a href="https://github.com/{{include.member.github}}" target="_blank">
        <i class="icon ion-social-github small-circle button"></i>
    </a>
    {% endif %}
</div>
