---
layout: contentpage
title: Members
nav_include: true
subtitle: The all-stars.
---
<section class="color-bar-white">
    <div class="row centered-text">
        <div class="large-12 columns">
            <h2>Current Members</h2>
            <h4 class="subheader">The big-leagues.</h4>
        </div>
    </div>

    <div class="row">
      <div class="small-12 columns">
        {% include member-grid.html data=site.data.members current=true %}
      </div>
    </div>

    <div class="row">
        <div class="large-12 columns">
            <hr>
        </div>
    </div>

    <div class="row centered-text">
        <div class="large-12 columns">
            <h2>Past Members</h2>
            <h4 class="subheader">The hall of fame.</h4>
        </div>
    </div>

    <div class="row">
      <div class="small-12 columns">
        {% include member-grid.html data=site.data.members past=true %}
      </div>
    </div>

</section>
