<!doctype html>
<html lang="en">

{% include head.html data=page.extrajs_head %}
<body>
<div id="st-container" class="st-container">
    <!--list nav-->
    <nav class="st-menu st-slide-on-top" id="sidebar">
        <h2 class="fa fa-flask">  <a href="{{site.baseurl}}">{{site.title}}</a></h2>
        <ul>
            {% include list-nav-include.html %}
        </ul>
    </nav>

    <div class="st-pusher">
        <div id="st-content" class="st-content">
            <div class="st-content-inner">

                {{ content }}

                {% include footer-top.html %}

                {% include footer-bottom.html %}

            </div>
        </div>
    </div>
</div>

<script src="{{site.baseurl}}/bower_components/foundation/js/foundation.min.js"></script>
<script src="{{site.baseurl}}/js/app.js"></script>

{% if page.extrajs %}
{% for jsfile in page.extrajs %}
{% if jsfile.js %}
<script src="{{site.baseurl}}/js/{{jsfile.js}}"></script>
{% endif %}
{% include {{jsfile.html}} args=jsfile.args %}
{% endfor %}
{% endif %}

<script src="{{site.baseurl}}/js/classie.js"></script>
<script src="{{site.baseurl}}/js/sidebarEffects.js"></script>

{% include google_analytics.html %}

</body>
</html>
