---
layout: contentpage
nav_include: true
title: Publications
subtitle: The science.
extra_js_body:
  - js:
      - imagesloaded.pkgd.min.js
      - masonry.pkgd.min.js
---
<section class="color-bar-white padded">
    {% for post in site.categories.publications %}
    <div class="row">
        <div class="small-12 medium-8 columns">
            <div class="row">
              <div class="large-12 columns">
                <h3>{{post.title}}</h3>
                <h6>{{post.authors}}</h6>
                {% if post.journal %}
                <p>
                  {{post.journal}}{% if post.info %}, {{post.info}}{% endif %}<br>
                  {{ post.date | date: "%Y" }}
                </p>
                {% endif %}
              </div>
            </div>
            <div class="row">
              <div class="large-12 columns">
                {% comment %}Links to different publication things.{% endcomment%}
                <ul class="small-block-grid-2 medium-block-grid-4">
                  {% if post.external_links.link %}
                  <a href="{{post.external_links.link}}" class="button" target="_blank">Link</a>
                  {% endif %}
                  {% if post.local_links.pdf %}
                  <a href="{{site.baseurl}}/{{site.pub_pdf_path}}/{{post.local_links.pdf}}" class="button"
                     target="_blank">PDF</a>
                  {% endif %}
                  {% if post.local_links.supplement %}
                  <a href="{{site.baseurl}}/{{site.pub_pdf_path}}/{{post.local_links.supplement}}" class="button"
                     target="_blank">Supplement</a>
                  {% endif %}
                  {% if post.external_links.supplement %}
                  <a href="{{post.external_links.supplement}}" class="button"
                     target="_blank">Supplement</a>
                  {% endif %}
                </ul>
              </div>
            </div>
        </div>
        {% if post.img %}
        <div class="hide-for-small medium-4 columns">
          <figure>
              <img src="{{site.baseurl}}/{{site.img_path}}/{{post.img}}">
          </figure>
        </div>
        {% endif %}

    </div>
    {% endfor %}
</section>
